@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Tilt+Warp&display=swap');


*{
    box-sizing:content-box;
    margin: 0; 
    padding: 0;
}

body{ 
    background-color: #f8dcbf;
    font-family: 'Montserrat', cursive;

}
    
.navbar{
    display: flex;
    justify-content: space-evenly;
    /* background-color: #f8dcbf; */
    height: 40px;
    padding-top:15px;
    padding-bottom: 7.5px;
   
}


.navbar a {
    font-size: 22px;
    color:  #e87a00;
    text-decoration: none;
}

nav a:hover {
        color: #001F3D;


      };

.logo-image{
        width: 1500px;
        height: -150px;
        border-radius: 0;
    
        margin-top: -10px;

    }

/* ^^^ nav bar ^^^ */

.heading { 
    position: relative 
    }

h1 {
    width:500px;
    margin: 0 auto;
    /* background: gray; */
    text-align: center;
    color: #001F3D;
    text-decoration-line: underline;
    padding-top: 50px;
}

  /* Place the navbar at the bottom of the page, and make it stick */
  .footer {
   
    display: flex;
    justify-content: space-evenly;
    /* background-color: #f8dcbf; */
    height: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 65px;
    align-items: flex-end;
   
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
  }
  
  form {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 100%;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  /* Style the links inside the navigation bar */
  .footer a {
    font-size: 22px;
    color:  #e87a00;
    text-decoration: none;
  }
.email {

border: black;

}
  .email, :any-link {
    color: #e87a00;
    padding-left: 50px;

  } 

  .email, :hover {
    color: #001F3D

  }